body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: black;
}

@media (min-width: 320px) and (max-width: 984px) {
  body {
    background-color: white;
  }
}

ul, li {
  margin: 10px;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  background-color: white;
  padding-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media (min-width: 320px) and (max-width: 984px) {
  header {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header_img {
  margin-left: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 984px) {
  .header_img {
    margin-left: 0;
  }
}

img {
  height: 250px;
  -webkit-clip-path: ellipse(50% 50%);
          clip-path: ellipse(50% 50%);
}

@media (min-width: 320px) and (max-width: 984px) {
  img {
    height: 180px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  background-color: white;
}

@media (min-width: 320px) and (max-width: 984px) {
  main {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header_txt {
  margin-right: 100px;
}

@media (min-width: 320px) and (max-width: 984px) {
  .header_txt {
    margin-right: 0;
  }
}

aside {
  background-color: #ff3333;
  width: 30%;
  color: white;
  padding-left: 20px;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

aside h3 {
  padding-bottom: 10px;
}

aside section {
  padding-bottom: 20px;
}

aside ul {
  margin: 0;
}

aside li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

aside li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

aside a {
  color: white;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 984px) {
  aside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  aside section {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
}

article {
  width: 70%;
  margin-left: 80px;
  padding-bottom: 100px;
}

article h3 {
  padding-bottom: 10px;
  border-bottom: 3px solid red;
}

article ul {
  padding-top: 10px;
  padding-bottom: 5px;
}

article ul li {
  padding-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 984px) {
  article {
    width: 90%;
    margin-left: 0;
  }
}

.form_exp_conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_exp_colonne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_exp_colonne__2 {
  margin-left: 100px;
}

.form_exp_cartouche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_exp_cartouche__date {
  margin-bottom: 5px;
}

.form_exp_cartouche__desc {
  margin-bottom: 5px;
  font-weight: bold;
}

.form_exp_cartouche__org {
  font-style: italic;
  margin-top: 0;
}

.form_exp_cartouche__ville {
  font-style: italic;
  margin-top: 0;
}

.icon_int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.icon_int__contour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_int__badge {
  border: 3px solid red;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.icon_int__badge:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.icon_int .fas, .icon_int .far {
  font-size: 40px;
}

.icon_int p {
  font-size: 18px;
}

.log_spec__titre {
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 984px) {
  .log_spec {
    width: 320px;
  }
}
/*# sourceMappingURL=style.css.map */